@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {

    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
    color: #ffffff;
}

/* IMAGEM DE FUNDO */

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url("./img/pagina.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.;
    /* transparência da imagem */
    z-index: -1;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    
}
.paragrafo {
    color: white;
    font-size: 40px;   
    font-weight: bold;
    text-align: center;
    
    
}

.subtitle {
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    
}   


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 20px 0;
    flex-wrap: wrap;
}


button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    padding: 6px;
    background-color: rgba(11, 228, 94, 0.8);
    width: 150px;
    height: 60px;    
    font-size: 18px;


}

button:hover {

    opacity: 0.8;
}

ul {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px 200px;
    align-items: center;
    justify-content: center;
    gap: 30px;
    list-style: none;
}

li {
    border: 2px solid #8133ff;
    border-radius: 10px;
    padding: 10px;
}

img {
    width: 100%;
    border-radius: 5px;

}

p {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.price {
    color: rgb(5, 99, 41);
    font-size: 18px;
    font-weight: bold;
}
