* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    gap: 10px 10px;
    align-content: space-evenly
}

.space {
    color: black;
    font-size: 30px;
}

header {
    background: #333453;
    grid-column : 1 / 4;

}

main {
    background: #259b11;
    grid-column : 2 / 3;

}

aside {
    background: #800534;

}

footer {
    background: #bb078e;
    grid-column : 1 / 4;

}

nav {
    background: #d5d809;
    grid-row : 2 / 3;

}