  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
      scroll-behavior: smooth;
  }

  body {
      background: #081b29;
      color: white;
      overflow-x: hidden;
  }

  header {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      padding: 18px 3%;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: rgba(0, 0, 0, 0.4);
      backdrop-filter: blur(12px);
      z-index: 1200;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .logo-viagem {
      font-size: 40px, bolder;
      font-weight: 700;
      color: white;
      margin: 0, 20px, ;
  }

  .logo-viagem span {
      color: #00d9ff;
  }

  .menu {
      display: flex;
      gap: 30px;
      list-style: none;
      text-decoration: none;
      margin: 0 20px;
  }

  .menu a {
      color: white;
      text-decoration: none;
      font-weight: 400;
      transition: .3s;
  }

  .menu a:hover {
      color: #00d9ff;
  }

  .btn-reserva {
      padding: 08px 18px;
      border-radius: 40px;
      font-size: 19px;
      border: none;
      background: linear-gradient(45deg, #00d9ff, #0066ff);
      color: white;
      font-weight: 300;
      cursor: pointer;
      transition: .4s;
      box-shadow: 0 10px 30px rgba(0, 217, 255, .4);

  }

  .btn:hover {
      transform: translateY(-5px);
      box-shadow: 0 15px 40px rgba(0, 217, 255, .6);
  }

  .hero {
      height: 100vh;
      background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .7)),
          url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?q=80&w=2000&auto=format&fit=crop') center/cover;
      background-position: center;
      background-size: cover;
      display: flex;
      position: center;
      align-items: center;
      padding-left: 50px;
      padding-right: 40%;
      text-align: left;
  }

  .hero-content {
      max-width: 700px;
  }

  .paragrafo {
      color: #00d9ff;
      letter-spacing: 5px;
      margin-bottom: 5px;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 18px bolder;
      margin-top: 50px;

  }

  .hero-content h1 {
      font-size: bold clamp(18px, 8vw, 20px);
      line-height: 1.0;
      margin-bottom: 20px;
      font-weight: 700;
  }

  .hero-content h1 span {
      color: #00d9ff;
  }

  .hero-content .description {
      color: #d9d9d9;
      font-size: clamp(16px, 0.9vw, 10px);
      line-height: 1.8;
      margin-bottom: 10px;
      font-weight: 100;
  }

  .hero-buttons {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      font-size: 29px;

  }

  .btn-outline {
      background: transparent;
      border: 2px solid #00d9ff;
  }

  .stats {
      padding: 80px 8%;
      background: #07141f;
      position: center;
      text-align: center;


  }

  .stats-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
      gap: 20px;

  }

  .stat-card {
      background: rgba(255, 255, 255, 0.04);
      font-size: 09px;
      border-radius: 30px;
      text-align: center;
      border: 1px solid rgba(255, 255, 255, 0.08);
      transition: .4s;
      margin-top: -50px;


  }

  .stat-card:hover {
      transform: translateY(-10px);
      border-color: #00d9ff;
  }

  .stat-card h2 {
      font-size: 50px;
      color: #00d9ff;
      margin-bottom: 10px;
  }

  .stat-card p {
      color: #d9d9d9;
      font-size: 10px;
      font-weight: 300;
      display: block;
      margin: 10px;
  }

  .destinations {
      padding: 100px 8%;
      max-height: 100%;
      margin-top: -90px;

  }

  .section-title {
      text-align: center;
      margin-bottom: 70px;

  }

  .section-title p {
      color: #00d9ff;
      text-transform: uppercase;
      letter-spacing: 5px;
      margin-top: 15px;
      font-size: 16px;
  }

  .section-title h2 {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 0px;

  }

  .destination-grid {
      display: grid;
      grid-template-columns: 500px 500px 500px;      
      justify-content: center;
      gap: 30px;
      margin-top: 0;
  }

  .destination-card {
      position: relative;
      height: 400px;
      overflow: hidden;
      border-radius: 35px;
      cursor: pointer;
      margin-top: -40px;


  }

  .destination-card img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: .6s;
  }


  .destination-card:hover img {
      transform: scale(1.1);
  }

  .destination-overlay {
      position: absolute;
      inset: 0;
      background: linear-gradient(totop, rgba(0, 0, 0, .9), transparent);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 35px;

  }

  .destination-overlay h3 {
      font-size: 28px bolder;
      margin-bottom: 10px;
      position: relative;
      left: -20px;
  }

  .destination-overlay p {
      color: #ffffff;
      line-height: 1.1;
      margin-bottom: 0px;
      font-size: 16px bolder;
      position: relative;
      left: -20px;
  }

  .btn {
      padding: 08px 10px;
      border-radius: 40px;
      font-size: 9px;
      border: none;
      background: linear-gradient(45deg, #00d9ff, #0066ff);
      color: white;
      font-weight: 300;
      cursor: pointer;
      transition: .4s;
      box-shadow: 0 10px 30px rgba(0, 217, 255, .4);
      position: relative;
      top: 25px;
  }

  .about {
      padding: 120px 8%;
      background: #07141f;
      max-height: 450px;

  }

  .about-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      max-width: 1200px;
      margin-top: -80px;
  }

  .about img {
      width: 50%;
      max-width: 450px;
      border-radius: 35px;
      box-shadow: 0 20px 50px rgba(0, 0, 0, .4);
      height: auto;
      margin-left: -40px;

  }

  .about-content {
      flex: 1;
      max-width: 550px;

  }

  .about-content h2 {
      font-size: clamp(16px, 0.8vw, 19px);
      margin-bottom: 0px;
      line-height: 1.2;
      color: #fff;
      font-weight: 700;
      margin: 3px 0px 20px;

  }

  .about-content h2 span {
      color: #00d9ff;
  }

  .about-content p {
      color: #d5d5d5;
      line-height: 1.4;
      margin-bottom: 0;
      font-size: clamp(16px, 0.9vw, 19px);
      font-weight: 400;
  }

  .btn-Agencia {
      padding: 8px 18px;
      border-radius: 40px;
      font-size: 15px;
      border: none;
      background: linear-gradient(45deg, #00d9ff, #0066ff);
      color: white;
      font-weight: 300;
      cursor: pointer;
      transition: .4s;
      box-shadow: 0 10px 30px rgba(0, 217, 255, .4);
      margin-top: 30px;

  }

  .btn-Agencia:hover {
      transform: scale(1.1);
      opacity: 0.7;
  }


  .contact {
      padding: 120px 8%;
      text-align: center;
  }

  .contact-form {
      max-width: 800px;
      margin: 60px auto 0;
      display: flex;
      flex-direction: column;
      gap: 25px;
  }

  .contact-form input,
  .contact-form textarea {
      background: rgba(255, 255, 255, 0.04);
      border: 1px solid rgba(255, 255, 255, 0.08);
      padding: 22px;
      border-radius: 20px;
      color: white;
      font-size: 16px;
      outline: none;
  }

  .contact-form input:focus,
  .contact-form textarea:focus {
      border-color: #00d9ff;
  }

  footer {
      padding: 40px 8%;
      border-top: 1px solid rgba(255, 255, 255, 0.08);
      text-align: center;
      background: #07141f;
      color: #bbb;
  }

  @media(max-width: 992px) {
      nav {
          display: none;
      }

      .hero-content h1 {
          font-size: 55px;
      }

      .section-title h2,
      .about-content h2 {
          font-size: 42px;
      }
  }

  @media(max-width: 600px) {
      .hero-content h1 {
          font-size: 42px;
      }

      .hero-content .description {
          font-size: 16px;
      }

      .section-title h2,
      .about-content h2 {
          font-size: 34px;
      }
  }