* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    h1{ 
        color: #2102b8
    }

    button{ 
        background-color: #9de600
    }

